@import "../colors.scss";

.tutory {
    background: $white;
    box-shadow: 0 4px 8px 0 $dark-gray;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px;
  }
  
  .tutory__header {
    padding: 0.5rem 0;
    height: 80px;
    background: $olive-green;
    display: flex;
    justify-content: center;
  }
  
  .tutory__section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .tutory__section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: #F4F4F7;
  }
  
  .tutory__footer {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98CA3F;
    font-weight: bold;
    font-style: italic;
  }