@import "./colors.scss";

.header {
  padding: 1.5rem 1rem;
  height: 195px;
  background: #6b9a03;
  display: flex;
  justify-content: center;
}

.Navbar__title {
  float: right;
}

.font-weight-light,
.font-weight-bold {
  text-decoration: none;
  color: $black;
  font-size: 40px;
}

