@import "../colors.scss";

.Navbar__title {
  float: right;
}


.font-weight-light,
.font-weight-bold {
  text-decoration: none;
  color: $dark-green;
  font-size: 40px;
}

.font-weight-light:hover,
.font-weight-bold:hover {
  text-decoration: none;
  color: $medium-ugreen;
  font-size: 40px;
}

