// // $body-bg: #000;
// $colors: (
//   "blue": $blue,
//   "indigo": $indigo,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
// ) !default;

// $olive-green: #6b9a03;
// $dark-green: #12351c;
// $dark-gray: #e0e0e0;
// $light-gray: #ececec;
// $font-gray: #9c9c9c;


$theme-colors: (
  "primary": #6b9a03,
  "danger": #ff4136,
  "secondary":#ffffff,
  "dark": rgb(22, 22, 22),
);

.row{
  padding-left: 10%;
  padding-right: 10%
}

@import "../node_modules/bootstrap/scss/bootstrap";