$dark-ugreen: #0a351c;
$medium-ugreen: #3a7158;
$normal-ugreen: #6c9a05;

// $body-bg: $medium-ugreen;

// $colors: (
//   "blue": $blue,
//   "indigo": $indigo,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
// ) !default;

// $olive-green: #6b9a03;
// $dark-green: #12351c;
// $dark-gray: #e0e0e0;
// $light-gray: #ececec;
// $font-gray: #9c9c9c;

$theme-colors: (
  "primary": $medium-ugreen,
  "danger": #ff4136,
  "secondary": $dark-ugreen,
  "dark": #0a351c
);

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.is-font-weight-200 {
  font-weight: 200;
}
.is-font-weight-500 {
  font-weight: 500;
}
.is-font-weight-800 {
  font-weight: 800;
}
.is-font-small{
  font-size: 0.9em;
}
.row {
  padding-left: 10%;
  padding-right: 10%;
}

@import "../node_modules/bootstrap/scss/bootstrap";
