body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.secondary.menu {
  padding: 1em;
  background-color: darkolivegreen;
}
.ui.segment.pushable {
  min-height: 100vh;
  border: none;
}

.ui.secondary.inverted.pointing.menu  {
  width: inherit;
  min-height: 100vh;
  position: fixed;
}